<div>
  <h1 class="title">Rate Includes Overall Floor Or Ceiling Component</h1>
  <form  [formGroup]="ceilingForm" >
  <div class="container1">
    <!-- (ngSubmit)="addCeiling()" -->

     <div class="column">
      <div style=" display: flex; width: 100%;">
        <label for="compositeRateOverallFloor" class="label">CompositeRateOverallFloor </label>
        <span *ngIf="isTitleRequired" class="red-star">*</span>
      </div>
      <input type="number" id="compositeRateOverallFloor" name="compositeRateOverallFloor" class="form-control" formControlName="compositeRateOverallFloor">
     </div>

     <div class="column">
      <div style=" display: flex; width: 100%;">
        <label for="compositeRateOverallCeiling" class="label">compositeRateOverallCeiling</label>
        <span *ngIf="isTitleRequired" class="red-star">*</span>
      </div>
      <input type="number" id="compositeRateOverallCeiling" name="compositeRateOverallCeiling" class="form-control" formControlName="compositeRateOverallCeiling">
    </div>

    <!-- <div class="column">
      <div style=" display: flex; width: 60%;">
        <label for="rateId" class="label">Rate Id</label>
        <span *ngIf="isTitleRequired" class="red-star">*</span>
      </div>
      <input type="number" id="rateId" name="rateId" class="form-control" formControlName="rateId">
    </div> -->




   
  </div>
  <!-- <button type="submit" class="btn">Add Prime</button> -->
</form>
</div>
