<div class="menu-bar">
    <h1 class="system-heading" style="display: inline-block; margin-left: 10px;">LTS New Rate Index Request</h1>
    <div class="logout-results-container">
        <button class="results-button" [routerLink]="['/rateinfo']">User Profile</button>
        <button class="results-button" [routerLink]="['/rateinfo']" >User Role</button>
        <button class="results-button" [routerLink]="['/rateinfo']">New Rate</button>
      <div class="user-profile"  (click)="toggleUserProfile()">
        <div class="user-circle">{{ generateInitials(fullName) }}</div>
        <div class="header_spacer"></div>
        <div>
        <div class="user-info" *ngIf="showUserProfile">
          <div class="user-info-left">
            <div class="profile-user-circle">
           {{ generateInitials(fullName) }}
            </div>
          </div>

          
         
        <div class="user-info-right">
           
            <div class="user-name">
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="navbarDropdown" id="dropdownlist">
                    <li class="dropdown-item">
                        <i class="fa-solid fa-user fa-sm"></i>
                        <span> {{ this.currentUser?.fullName }}</span>
                    </li>
                    <li class="dropdown-item">
                        <i class="fa-solid fa-envelope fa-sm"></i>
                        <span> {{ this.currentUser?.email }}</span>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex flex-nowrap" (click)="openDialog()" role="button">
                            <i class="fa-solid fa-address-card fa-sm mt-2" style="padding-right: 3px;"></i> Update Account
                        </a>
                    </li>
                    <li >
                        <a class="dropdown-item" (click)="onSignOut()" role="button"><i
                            class="fa-solid fa-right-from-bracket fa-sm"></i> Logout</a>
                    </li>

                </ul>
         <!-- <p style="font-weight:600; font-size: 18px;" class="trancate"   > {{ fullName }} </p>
         <p>{{role}}</p>
         <u><p style="color: rgb(44, 144, 184);" mat-button (click)="openDialog()">update Account</p></u>
            </div>
            <div class="logout-button" (click)="logout()">
              <i class="fa-solid fa-arrow-right-from-bracket"></i> Sign Out
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- <nav class="navbar navbar-expand-sm  ">
    <div style="display: flex; background-color: #0771d4; width: 100%;">
       <h1 class="title">LTS New Rate Index Request</h1>
       <div >
         <ul class="navbar-nav ml-auto">
             <li class="nav-item dropdown" ngbDropdown role="button">
                 <a  (click)="toggleDropdown()">
                     <img *ngIf="userInfo?.image; else defaultUserIcon"
                         [src]="'data:image/jpeg;base64,' + userInfo?.image" height="50" 
                         alt="User Logo" loading="lazy" width="50"  />
   
                     <ng-template #defaultUserIcon>
                         <img id="user-image" src="https://www.pngall.com/wp-content/uploads/5/User-Profile-PNG-File.png" class="rounded-circle" height="25"
                         alt="User Logo" loading="lazy" width="30" />
                     </ng-template>
                 </a>
                 <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="navbarDropdown" id="dropdownlist">
                     <li class="dropdown-item"><i class="fa-solid fa-user fa-sm"></i> {{ this.userInfo?.userName }}</li>
                     <li class="dropdown-item"><i class="fa-solid fa-envelope fa-sm"></i> {{ this.userInfo?.userEmail }}
                     </li>
                     <li><a class="dropdown-item d-flex flex-nowrap" href="#" role="button"
                             [routerLink]="['/dashboard', userInfo?.userName]"><i
                                 class="fa-solid fa-address-card fa-sm mt-2" style="padding-right: 3px;"></i> Profile</a>
                     </li>
                     <li><a class="dropdown-item" (click)="onLogout()" role="button"><i
                                 class="fa-solid fa-right-from-bracket fa-sm"></i> Logout</a></li>
                 </ul>
             </li>
   
         </ul>
     </div>
       </div>
     </nav> -->