<p>heloo</p>

<div class="container">
    <h1 class="title">Prime component</h1>
  
    <div class="row">
      <div class="col-lg-6">
        <form class="form" [formGroup]="primeForm" (ngSubmit)="addPrime()">
  
            <div class="form-group">
                <label for="bankName">Bank Name:</label>
                <input type="text" id="bankName" name="bankName" class="form-control" formControlName="bankName">
              </div>
          
            <div class="form-group">
            <label for="indexNumber">Index Number:</label>
            <input type="number" id="indexNumber" name="indexNumber" class="form-control" formControlName="indexNumber">
          </div>

          <div class="form-group">
            <label for="floor">Floor:</label>
            <input type="number" id="floor" name="floor" class="form-control" formControlName="floor">
          </div>

          <div class="form-group">
            <label for="spread">Spread:</label>
            <input type="spread" id="spread" name="spread" class="form-control" formControlName="spread">
          </div>

          
          <div class="form-group">
            <label for="rateId">rateId:</label>
            <input type="rateId" id="rateId" name="rateId" class="form-control" formControlName="rateId">
          </div>
          <button type="submit" class="btn">Add Prime</button>
        </form>
      </div>
    </div>
  </div>
  
