/* Custom styles */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import '~@fortawesome/fontawesome-free/css/all.min.css';
 
.background-container{
 height: 100%;
}
 
  .title {
    text-align: center;
    color:#ffffff;
    background-position-x: center;
    font-size: 20px;
    background-color:#0771d4;
    bottom: 4;
    padding: 4px;
 
 
    margin-bottom: 30px; /* Increased spacing below the title */
  }
 
 
 
  .form-group {
    flex: 1 0 calc(33.33% - 20px); /* Three columns with 20px gap */
  }
 
  @media (max-width: 992px) {
    .form-group {
      flex: 1 0 calc(50% - 20px); /* Two columns with 20px gap for medium screens */
    }
  }
 
  /* .f{
    width: 10%;
    background-color: #0056b3;
  } */
  .form-control {
    width: 100%;
    /* height: 60%; */
    /* height: 60%; */
    padding: 6px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #0056b3;
    margin-top: 2%;
    display: flex;
  }
  .asfform-control {
    width: 100%;
    /* height: 60%; */
    height: 50%;
    padding: 6px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #0056b3;
    margin-top: 2%;
    display: flex;
  }
 
  .btn {
    padding: 6px 14px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth hover transition */
  }
 
  .btn:hover {
    background-color: #0056b3;
  }
   
  /* new css  */
 
  .container1{
    display: grid;
    grid-template-columns: 33% 33% 33%;
     text-align: center;
     
    /* width: 20%; */
   /* background-color: #cccccc; */
   
   
  }
  .column {
    padding: 6px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    /* background-color: #cccccc; */
  }
 .label{
    /* width: 75%; */
    /* background-color: #cccccc; */
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: left;
   content: "$$$$";
 }
 
 .red-star {
  color: red;
  display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: left; 
  /* background-color: aqua; */
}
/* .starlabel label:after {
    content:" *";
    color: red;
  } */

  input[type=file]::file-selector-button {
    cursor: pointer;
    border: 0;
    padding: 8px;
    background-color: rgb(195, 197, 199);
    border-radius: 2px;
    /* color: white; */
  }

  .remove-file-icon{
    color:red;

  }
  
  /* /checkbox styles */

  .checkbox-wrapper-1 *,
  .checkbox-wrapper-1 ::after,
  .checkbox-wrapper-1 ::before {
    box-sizing: border-box;
  }
  .checkbox-wrapper-1 [type=checkbox].substituted {
    margin: 0;
    width: 0;
    height: 0;
    display: inline;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 15px;
  }
  .checkbox-wrapper-1 [type=checkbox].substituted + label:before {
    content: "";
    display: inline-block;
    vertical-align: top;
    height: 1.15em;
    width: 1.15em;
    margin-right: 0.6em;
    color: rgba(0, 0, 0, 0.275);
    border: solid 0.06em;
    box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em inset, 0 0 0 0.07em transparent inset;
    border-radius: 0.2em;
    background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xml:space="preserve" fill="white" viewBox="0 0 9 9"><rect x="0" y="4.3" transform="matrix(-0.707 -0.7072 0.7072 -0.707 0.5891 10.4702)" width="4.3" height="1.6" /><rect x="2.2" y="2.9" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 12.1877 2.9833)" width="6.1" height="1.7" /></svg>') no-repeat center, white;
    background-size: 0;
    will-change: color, border, background, background-size, box-shadow;
    transform: translate3d(0, 0, 0);
    transition: color 0.1s, border 0.1s, background 0.15s, box-shadow 0.1s;
  }
  
  .checkbox-wrapper-1 [type=checkbox].substituted:checked + label:before {
    background-color: #3B99FC;
    background-size: 0.75em;
    color: rgba(0, 0, 0, 0.075);
  }
  .checkbox-wrapper-1 [type=checkbox].substituted:checked:enabled:active + label:before,
  .checkbox-wrapper-1 [type=checkbox].substituted:checked:enabled + label:active:before {
    background-color: #0056b3;
    color: rgba(0, 0, 0, 0.275);
  }
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .col-4 {
    flex: 0 0 33.33%; /* Each column takes up one-third of the container */
    max-width: 33.33%;
    padding: 0 15px; /* Adjust padding as needed */
    box-sizing: border-box;
  }
  
  .checkbox-wrapper {
    margin-bottom: 10px; /* Adjust spacing between rows */
  }
  .error-message {
    color: red;
    font-size: 0.8rem;
   /* left: -80px; */
    /* margin-top: 5px;  */
}
