<p>rateinfo works!</p>
<form>
    <label for="name">Name:</label>
    <input type="text" id="name" formControlName="name">
    <div >
      Name is required.
    </div>
  
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email">
  </form>

  <form >
    <div >
      <div  >
        <label>Street:</label>
        <input formControlName="street">
  
        <label>City:</label>
        <input formControlName="city">
  
        <!-- <button (click)="removeAddress(i)">Remove</button> -->
      </div>
    </div>
  
    <!-- <button (click)="addAddress()">Add Address</button> -->
  </form>