<p>heloo</p>

<div class="container">
    <h1 class="title">Sofr component</h1>
  
    <div class="row">
      <div class="col-lg-6">
        <form class="form" [formGroup]="sofrForm" (ngSubmit)="addSofr()">
  
            <div class="form-group">
                <label for="description">Description:</label>
                <input type="text" id="description" name="description" class="form-control" formControlName="description">
              </div>
          
            <div class="form-group">
            <label for="indexNumber">Index Number:</label>
            <input type="number" id="indexNumber" name="indexNumber" class="form-control" formControlName="indexNumber">
          </div>

          <div class="form-group">
            <label for="floor">Floor:</label>
            <input type="number" id="floor" name="floor" class="form-control" formControlName="floor">
          </div>

          <div class="form-group">
            <label for="spread">Spread:</label>
            <input type="number" id="spread" name="spread" class="form-control" formControlName="spread">
          </div>

          <div class="form-group">
            <label for="isa">ISA:</label>
            <input type="number" id="isa" name="isa" class="form-control" formControlName="isa">
          </div>
          <div class="form-group">
            <label for="term">Term:</label>
            <input type="number" id="term" name="term" class="form-control" formControlName="term">
          </div>
          
          <div class="form-group">
            <label for="rateId">rateId:</label>
            <input type="number" id="rateId" name="rateId" class="form-control" formControlName="rateId">
          </div>
          <button type="submit" class="btn">Add Sofr</button>
        </form>
      </div>
    </div>
  </div>
  
